body {
    background-color: lightgreen;
}

#subTitle {
    color: blue;
}

#links td {
    border: 2px solid black; 
}


#hh {
    color: red;
}

#mm {
    color: green;
}

#ss {
    color: blue;
}

#clock {
    font-size: 150%;
}

footer {
    position: fixed;
    bottom: 80px;
}