body {
    background-color: lightgreen;
    background-size: cover;
}

#links td {
    border: 2px solid black; 
    padding: 10px;
    width: 100px;
}


#hh {
    color: red;
}

#mm {
    color: green;
}

#ss {
    color: blue;
}

#clock {
    font-size: 150%;
}

footer {
    right: 10px;
    bottom: 80px;
    position: fixed;
}

h1 {
    text-align: center;
}

img.linkImg {
    width: 150px;
    height: 60px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

img.linkImg:hover {
    background-color: blueviolet;
}

h1 span.title {
    color: purple;
}

div.mulCol {
    column-count: 2;
}